$background-color: rgb(24, 24, 50);
$highlight-color: #47477f;
$sub-highlight-color: #21224a;

#sidebar {
  background-color: $background-color;

  display: flex;
  flex-direction: column;

  border: none;
  border-right: 3px solid $highlight-color;

  height: 92.5vh;

  .sideButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .selectedSideButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: $sub-highlight-color;
    border: none;
    border-right: 3px solid white;
    outline: none;
  }
}
