#Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuButton {
  // color
  background-color: white;

  // size
  width: 20vw;
  height: 10vh;

  // margin
  margin: 1vh 0;

  cursor: pointer;
}
