#Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  // color
  background-color: white;

  // size
  width: 20vw;
  height: 10vh;

  // margin
  margin: 1vh 0;
}
