$background-color: rgb(24, 24, 50);
$highlight-color: #47477f;
$sub-highlight-color: #21224a;

#ShortStories {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 7.5vh 92.5vh;
}

#navbar {
  grid-column: 1 / span 2;

  background-color: $background-color;

  display: flex;
  flex-direction: row;

  border: none;
  border-bottom: 3px solid $highlight-color;

  .navButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .selectedNavButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid white;
    outline: none;
  }

  #returnButton {
    width: 7vw;

    margin-left: 2vw;
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 7.5vh;
  }
}

#sidebar {
  background-color: $background-color;

  display: flex;
  flex-direction: column;

  border: none;
  border-right: 3px solid $highlight-color;

  height: 92.5vh;

  .sideButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .selectedSideButton {
    height: 7.5vh;
    width: 20vw;
    font-size: 3vh;
    color: white;
    background-color: $sub-highlight-color;
    border: none;
    border-right: 3px solid white;
    outline: none;
  }
}

#content {
  background-color: $background-color;
  color: white;

  width: 76vw;
  height: 90.5vh;

  padding: 1vh 2vw;
}
