$background-color: rgb(24, 24, 50);
$highlight-color: #47477f;
$sub-highlight-color: #21224a;

#ShortStories {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 7.5vh 92.5vh;
}

#content {
  background-color: $background-color;
  color: white;

  width: 76vw;
  height: 90.5vh;

  padding: 1vh 2vw;
}
